body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-image: var(--gradient);
    background-size: 400%;
    animation: anim 10s infinite alternate;
}
@keyframes anim {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@media screen and (max-width: 767px) {
    .box {width: 80%; height: 90%}

}

@media screen and (min-width: 768px) {
    .box {width: 25%; height: 70%}
}

 :root {
    --gradient: linear-gradient(90deg, #8360c3, #2ebf91);
}

.box {
    background-color: #F4F5FD;
    text-align: center;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
}

.logo {
    background-color: #243963;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    font-family: sans-serif;
    padding: 1rem;
    color: white;
}

.login-div {
    margin: 30px;
}

label {
    display: block;
}

input {
    width: 75%;
    height: 30px;
    text-align: center;
    border-radius: 0.25rem;
    border-color: #bdbdbd;
    outline: none;
    box-shadow: none;
    transition: 0.75s;
}

input:focus {
    background-color: #ebe8ff;
}

.password-div {
    margin: 30px;
}


.button {
    font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background-color: #243963;
    border: 0 groove #9FA6CD;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    font-size: 1.1rem;
    line-height: 1;
    padding: 0.7rem 2rem 1.5rem;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    user-select: none;
    margin: 10px;
}

.button:hover {
    background-color: #1e293b;
    color: #fff;
}

#forgotPassword {
    font-size: 10px;
    padding: 0.5rem 2rem 1rem;
}