html,
body {
    margin: 0;
    padding: 0;
    background-color: cadetblue;
    font-family:"Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.main {
    padding-top: 70px;
}

@media screen and (max-width: 699px) {
    .box {width: 60%; height: 90%}
    .content {margin: 0; width: 100%;}
    .button {width: 40%;}
    #fileSelect {width: 95%}
}

@media screen and (min-width: 700px) {
    .box {width: 60%; height: 40%}
    .content {margin-left: 25%; width: 40%; padding: 5%; box-shadow: 0 1rem 3rem 0 #1e293b}
    .button {width: 25%}
    #fileSelect {width: 40%}
}

label {
    display: block;
    align-self: center;
    padding-right: 10px;
}

.box {
    background-color: #F4F5FD;
    text-align: center;
    margin: 10% auto;
    padding: 5%;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 20px;
}

.header {
    top: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    background-color: #BEECFF;
    display: flex;
    overflow: auto;
    justify-content: space-between;
    position: fixed;
}

.postText {
    display: flex;
}

.postFile {
    display: flex;
}

.button{
    background-color: #243963;
    border: 0 groove #9FA6CD;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    margin: 0.75rem 1rem 1.5rem;
}

.button:hover {
    background-color: #1e293b;
}

label + .button {
    background-color: #47179a;
}

label + .button:hover {
    background-color: #200549;
}

#fileSelect {
    margin: 2rem 1rem 2rem;
}

.home-add-div {
    padding: 1.2rem;
    display: flex;
    justify-content: space-between;
}

.home-add-div a {
    margin: 2% 4% 2% 4% ;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    align-self: center;
}

.home-add-div a:hover{
    color: hotpink;
    background-color: #bdbdbd;
    text-decoration: underline;
}

.home-add-div a:visited{
    text-decoration: none;
}

.user {
    display: flex;
}

.user img {
    height: 3rem;
    width: 3rem;
    border-radius: 45%;
    align-self: center;
}

.content {
    background-color: rgba(255, 220, 195, 0.44);
}

.posts > .post {
    display: block;
    width: 95%;
    margin-left: 2%;
    margin-bottom: 10%;
    background-color: white;
    border: 2px solid gray;
    border-radius: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.post-header p {
    margin: 0;
    color: gray;
}

.post-lower img {
    width: 100%
}

.name-avatar-div {
    display: flex;
}

.name-avatar-div img {
    height: 3rem;
    width: 3rem;
    border-radius: 45%;
}

.name-avatar-div p {
    margin: 13px;
    color: black;
}

.like {
    background-color: #243963;
    border: 0 groove #9FA6CD;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    line-height: 1;
    padding: 1.1rem;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
    margin: 10px;
}

.like:hover {
    background-color: #1e293b;
    color: #fff;
}

.post-lower {
    text-align: justify;
    margin: 10px;
}

.like-div {
    display: flex;
    gap: 10px;
}

textarea {
    display: block;
    resize: none;
}

header ~ footer {
    border-radius: 2rem 2rem 0 0;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #F4F5FD;
    display: flex;
    justify-content: space-between;
}
